body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 600;
}

h1, .h1, .f1 {
  font-size: 32px !important;
}

h2, .h2, .f2 {
  font-size: 24px !important;
}

h3, .h3, .f3 {
  font-size: 20px !important;
}

h4, .h4, .f4 {
  font-size: 16px !important;
}

h5, .h5, .f5 {
  font-size: 14px !important;
}

h6, .h6, .f6 {
  font-size: 12px !important;
}

.border-bottom-muted {
  border-bottom: 1px solid #d8dee4;
}

.text-small {
  font-size: 12px;
}

.wght-light {
  font-weight: 300;
}

.text-open {
  color: #1a7f37;
}

.text-closed {
  color: #8250df;
}

.text-notplanned {
  color: #6e7781;
}

.link-muted {
  color: #57606a;
}
.link-muted:hover {
  color: #0a58ca;
}

h3 {
  font-weight: 600;
  font-size: 20px;
}

.text-muted {
  color: #57606a !important;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

svg {
  fill: currentcolor;
}

.btn:hover {
  text-decoration: none;
}

.topic-header {
  background-color: #F6F8FA;
  padding: 0;
}

.topic-info {
  margin-bottom: 16px;
}

.topic-headline {
  font-size: 20px;
  float: left;
  display: flex;
  line-height: 1;
}
.topic-headline svg {
  margin: auto 8px auto 0;
  color: #57606a;
}
.topic-headline .breadcrumb {
  margin: 0;
}
.topic-headline .breadcrumb .breadcrumb-item:last-of-type {
  font-weight: 600;
}

.label-muted-outline {
  color: #57606a;
  border: 1px solid #d0d7de;
  font-size: 12px;
  font-weight: 500;
  margin-left: 8px;
}

.topic-nav {
  font-size: 14px;
  min-height: 48px;
  display: flex;
  box-shadow: inset 0 -1px 0 #d8dee4;
}
.topic-nav ul {
  align-items: center;
  display: flex;
}
.topic-nav .nav-item {
  display: inline-flex;
}
.topic-nav .nav-link {
  padding: 0 8px;
  line-height: 30px;
  display: flex;
  align-items: center;
}
.topic-nav .nav-link:hover {
  text-decoration: none;
}
.topic-nav .nav-link svg {
  fill: currentcolor;
  margin-right: 8px;
}
.topic-nav .nav-link .badge {
  background-color: rgba(0, 0, 0, 0.1);
  color: #0d6efd;
  margin-left: 3px;
}
.topic-nav .nav-link:hover .badge, .topic-nav .nav-link:focus .badge {
  color: #0a58ca;
}
.topic-nav .nav-link.active .badge {
  color: white;
}

.topic-filter {
  border-bottom: 1px solid #d8dee4;
  padding: 16px 0;
}

.card {
  border-color: #d0d7de;
}

.card-topic-header {
  display: flex;
  width: 100%;
  align-items: center;
  position: relative;
}
.card-topic-header a {
  flex: auto;
  font-weight: 600;
}
.card-topic-header a:hover {
  text-decoration: none;
}

.card-topic-description {
  font-size: 12px;
  margin-top: 16px;
  margin-bottom: 8px;
  color: #57606a;
}

.topic-li {
  padding: 24px 0;
  border-bottom: 1px solid #d8dee4;
}
.topic-li .topic-title {
  display: inline-block;
  margin-bottom: 4px;
}
.topic-li .topic-title h3 .badge {
  margin-left: 4px;
  margin-right: 4px;
}
.topic-li .topic-title h3 a:hover {
  text-decoration: none;
}

.topic-description {
  display: inline-block;
  padding-right: 24px;
  margin-bottom: 8px;
  color: #57606a;
  font-size: 14px;
}
.topic-description p {
  margin: 0;
}

.topic-devider {
  font-size: 24px;
  margin-bottom: 15px;
  margin-top: 44px;
}

#newChannelName {
  display: none;
}

.form-group, .form-check {
  margin: 15px 0;
}
.form-group .form-label, .form-group .form-check-label, .form-check .form-label, .form-check .form-check-label {
  font-size: 14px;
  font-weight: 600;
}

.result-banner {
  margin-top: 3rem;
  text-align: center;
  border: 1px solid #d0d7de;
  border-color: rgba(84, 174, 255, 0.4);
  background-color: #ddf4ff;
  border-radius: 6px;
  padding: 1rem;
}
.result-banner h3 {
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
}
.result-banner p {
  margin-bottom: 0.5rem;
}

.searchbar .querybox {
  padding: 0;
}
.searchbar .querybox .input-group .input-group-text {
  background-color: #F6F8FA;
  border: 1px solid #d0d7de;
  color: #24292f;
}
.searchbar .querybox .input-group .btn-inputpart {
  background-color: #F6F8FA;
  border: 1px solid #d0d7de;
  color: #24292f;
}
.searchbar .querybox .input-group .btn-inputpart:hover {
  background-color: #F3F4F6;
}
.searchbar .search-nav {
  padding: 0;
  padding-left: 16px;
}
.searchbar .search-nav .btn-group .btn-outline-gh {
  color: #24292f;
  border: 1px solid #d0d7de;
  background-color: transparent;
}
.searchbar .search-nav .btn-group .btn-outline-gh:hover {
  background-color: #F6F8FA;
}
.searchbar .search-nav .btn-group .btn {
  font-weight: 500;
  text-decoration: none;
  line-height: 1;
  padding: 5px 16px;
}
.searchbar .search-nav .btn-group .btn svg {
  margin-right: 2px;
}
.searchbar .search-nav .btn-group .btn .badge {
  margin-left: 3px;
  color: #24292f;
  background-color: rgba(175, 184, 193, 0.2);
  font-weight: 500;
}
.searchbar #new-issue {
  margin-left: 14px;
  text-decoration: none;
  padding: 5px 16px;
  font-weight: 500;
  font-size: 14px;
}
.searchbar #new-issue svg {
  margin-right: 2px;
}

.reset-searchquery a {
  font-weight: 600;
  color: #6e7781;
}
.reset-searchquery a:hover {
  color: #0969da;
  text-decoration: none;
}
.reset-searchquery a:hover #resetQueryIcon {
  background-color: #0969da;
}
.reset-searchquery a #resetQueryIcon {
  padding: 1px;
  margin-right: 4px;
  color: white;
  background-color: #6e7781;
  text-align: center;
  border-radius: 6px;
}

.issuelist-wrapper {
  margin: 0 -12px;
}
.issuelist-wrapper:last-child {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.issuelist-header {
  font-size: 14px !important;
  padding: 16px;
  background-color: #F6F8FA;
  border: 1px solid #d0d7de;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.issuelist-header .states .btn-link {
  text-decoration: none;
  color: #24292f;
}
.issuelist-header .states .btn-link svg {
  margin-right: 4px;
}
.issuelist-header .states .btn-link:not(:first-of-type) {
  margin-left: 10px;
}
.issuelist-header .states .btn-link.selected {
  font-weight: 600;
}
.issuelist-header .action-menu {
  color: #24292f;
}
.issuelist-header .action-menu .filterbar-item a {
  text-decoration: none;
}

.issuelist-item {
  border-left: 1px solid #d8dee4;
  border-right: 1px solid #d8dee4;
}
.issuelist-item:not(:first-child) {
  border-top: 1px solid #d8dee4;
}
.issuelist-item:last-child {
  border-bottom: 1px solid #d8dee4;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.issuelist-item .issuelist-content .issuelist-meta, .issuelist-item .issuelist-content .issuelist-meta a {
  color: #57606a;
}
.issuelist-item .issuelist-content .title-link {
  font-weight: 600;
  font-size: 16px;
  color: #24292f;
}
.issuelist-item .issuelist-content .title-link:hover {
  text-decoration: none;
  color: #0969da;
}
.issuelist-item .issuelist-content .issuelist-meta a:hover {
  color: #0a58ca;
  text-decoration: none;
}

#issuelist-noresults {
  margin-right: auto;
  margin-left: auto;
  border-left: 1px solid #d8dee4;
  border-right: 1px solid #d8dee4;
  border-bottom: 1px solid #d8dee4;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
#issuelist-noresults #noresult-message {
  padding: 80px 40px;
  text-align: center;
}
#issuelist-noresults #noresult-message svg {
  color: #57606a;
  margin: 0 4px 8px 4px;
}
#issuelist-noresults #noresult-message h3 {
  margin: 16px 0;
  font-size: 24px;
}

.label-states {
  font-weight: 600;
  font-size: 14px;
}

.label-badge {
  font-size: 12px;
  font-weight: 500;
  line-height: 22px;
  padding: 0 10px;
}
.label-badge:hover {
  text-decoration: none;
  color: white;
}

.labellist-issues, .labellist-description, .labellist-actions button {
  font-size: 12px;
  line-height: 1.5;
  padding: 0;
  color: #57606a;
}

.labellist-actions button {
  text-decoration: none;
}
.labellist-actions button:hover {
  text-decoration: underline;
}

.listlink {
  color: #57606a;
}
.listlink:hover {
  text-decoration: none;
}

#col-buttons div {
  margin-top: 2rem;
}

.gh-popover {
  position: absolute;
  z-index: 100;
  visibility: hidden;
}
.gh-popover.color-popover {
  width: 270px;
}
.gh-popover .popover-message {
  position: relative;
  width: 232px;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  border: 1px solid #d0d7de;
  border-radius: 6px;
}
.gh-popover .popover-message-bottom-left {
  margin-left: 0;
}

.color-popover p {
  font-size: 12px;
}
.color-popover .color-swatch {
  width: 24px;
  height: 24px;
  border-radius: 6px;
  border: none;
}

#wrapper-new {
  padding: 16px;
  border: 1px solid #d0d7de;
  background-color: #F6F8FA;
  border-radius: 6px;
  margin: 0 -12px;
}

.badge-open {
  background-color: #1a7f37;
  color: white;
}

.badge-closed {
  background-color: #8250df;
  color: white;
}

.badge-notplanned {
  background-color: #6e7781;
  color: white;
}

.issue-header {
  border-bottom: 1px solid #d0d7de;
  padding-bottom: 8px;
  margin-bottom: 32px;
}
.issue-header .issue-title-edit {
  display: none;
}

.header-meta .label-badge {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  padding: 5px 12px;
  margin-bottom: 8px;
  margin-right: 8px;
}
.header-meta .info a {
  color: black;
}
.header-meta .info a:hover {
  color: #0d6efd;
}

.discussion-card {
  border-color: rgba(84, 174, 255, 0.4);
}
.discussion-card .card-header {
  margin-left: 0 !important;
  margin-right: 0 !important;
  background-color: #ddf4ff;
  border-bottom-color: rgba(84, 174, 255, 0.4);
}
.discussion-card .card-header div {
  padding: 0;
}
.discussion-card .card-header span {
  margin-left: 4px;
}
.discussion-card .card-body textarea {
  min-height: 100px;
}
.discussion-card .card-body .buttons * {
  font-size: 14px;
}
.discussion-card .card-body #close-dropdown {
  transform: translate(-20px, 42px) !important;
}
.discussion-card .card-footer {
  margin-top: 4px;
  color: #57606a;
  background: none;
  border-color: rgba(84, 174, 255, 0.4);
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.discussion-card .card-footer:first-child {
  border: none;
}
.discussion-card .card-footer .commit-action-icon {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  margin-top: -4px;
  margin-right: 8px;
}
.discussion-card .card-footer .commit-action-icon.closed {
  background-color: #8250df;
  color: white;
}
.discussion-card .card-footer .commit-action-icon.reopened {
  background-color: #1a7f37;
  color: white;
}
.discussion-card .card-footer .commit-action-icon.notplanned {
  background-color: #6e7781;
  color: white;
}
.discussion-card .card-footer #deleteActionBtn {
  cursor: pointer;
}

.toggleCommentMenu {
  cursor: pointer;
}

.menu-popover {
  position: absolute;
  z-index: 100;
  right: -4px;
}
.menu-popover.sidebarMenu-popover {
  top: 30px;
  margin: 4px 0 20px;
}
.menu-popover.hideCommentMenu, .menu-popover.hideSidebarMenu {
  visibility: hidden;
}
.menu-popover .popover-message {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 185px;
  background-color: white;
  border: 1px solid #d0d7de;
  border-radius: 6px;
}
.menu-popover .popover-message-bottom-left {
  margin-left: 0;
}

.commentDropdown {
  padding: 4px 0 !important;
}
.commentDropdown .menuItem {
  color: black;
  width: 100%;
  padding: 4px 8px 4px 16px !important;
}
.commentDropdown .menuItem:hover {
  text-decoration: none;
  cursor: pointer;
  background-color: #0a58ca;
  color: white;
}
.commentDropdown .menuItem.menuItem-danger {
  color: #dc3545;
}
.commentDropdown .menuItem.menuItem-danger:hover {
  background-color: #dc3545;
  color: white;
}

.path {
  width: 2px;
  height: 32px;
  margin-left: 16px;
  background-color: #d8dee4;
}
.path:last-of-type {
  height: 16px;
}

.sidebar-item {
  margin-top: 16px;
  border-top: 1px solid #d8dee4;
  font-size: 12px;
  padding-top: 16px;
}
.sidebar-item .btn-link {
  text-decoration: none;
  color: #24292f;
  font-weight: 600;
}
.sidebar-item .btn-link:hover {
  color: #0a58ca;
}
.sidebar-item .sidebar-heading:hover {
  color: #0a58ca;
  cursor: pointer;
}
.sidebar-item .sidebar-heading.disabled {
  color: #57606a;
}

.gh-modal {
  max-width: 450px;
}
.gh-modal .modal-header {
  border-bottom: none;
  padding: 0;
}
.gh-modal .modal-header .btn-close {
  padding: 16px;
}
.gh-modal svg {
  width: 40px;
  height: 40px;
}
.gh-modal h5 {
  font-size: 16px;
  font-weight: 600;
}

.editCommentForm {
  display: none;
}

.menu-item {
  margin-top: 8px;
  padding: 8px;
}
.menu-item:hover {
  background-color: #e9ecef;
  cursor: pointer;
}
.menu-item .form-check-input {
  margin: 0;
  margin-right: 8px;
}

.menu-footer {
  margin-top: 8px;
  padding: 8px;
  border-top: 1px solid #d8dee4;
}

.person-chip {
  border: 1px solid #d8dee4;
  border-color: #C2E7FF;
  border-radius: 6px;
  padding: 6px;
  margin-right: 12px;
  color: #0969da;
}
.person-chip:hover {
  background-color: rgba(221, 244, 255, 0.5);
  text-decoration: none;
}

.options-bucket > div {
  margin-top: 40px;
}

.list-group-button {
  background-color: #0d6efd;
  color: white;
}
.list-group-button:hover {
  background-color: #0b5de7;
}
.list-group-button .btn-link {
  color: white;
  text-decoration: none;
}
.list-group-button .btn-link :hover {
  text-decoration: none;
}

.list-group-danger {
  border-color: #dc3545;
}

#input-wrapper-newChannel {
  display: none;
}

.login-body {
  display: flex;
  align-items: center;
  padding: 40px 0;
  height: 100%;
}

#signin-main {
  padding: 15px;
  max-width: 340px;
}
#signin-main .h2 {
  font-weight: 300;
}

#login-form {
  background-color: #F6F8FA;
  border: 1px solid #d8dee4;
  border-radius: 6px;
  padding: 16px;
}
#login-form .form-group {
  text-align: left;
}
#login-form .form-group .form-label {
  font-weight: 400;
}

#backtoapp {
  padding: 16px;
  text-align: center;
  border: 1px solid #d0d7de;
  border-radius: 6px;
}

.btn-gh {
  color: #24292f;
  background-color: #F6F8FA;
  border: 1px solid #d0d7de;
}
.btn-gh:hover {
  background-color: #F3F4F6;
  border: 1px solid #d0d7de;
}
.btn-gh:active, .btn-gh:focus {
  background-color: #ebecf0;
  border-color: rgba(27, 31, 36, 0.15);
}

.navbar-dark {
  background-color: #0B3341;
}
.navbar-dark .nav-link {
  font-weight: 600;
  color: white;
}
.navbar-dark .nav-link:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}
.navbar-dark .navbar-brand:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.nested-form-check {
  margin-left: 1.5rem;
}

/*# sourceMappingURL=main.css.map */
