body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.text-small {
  font-size: 12px;
}

.text-open {
  color: #1a7f37;
}

.text-closed {
  color: #8250df;
}

.link-muted {
  color: #57606a;
}
.link-muted:hover {
  color: #0a58ca;
}

h3 {
  font-weight: 600;
  font-size: 20px;
}

.text-muted {
  color: #57606a !important;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

svg {
  fill: currentcolor;
}

.topic-header {
  background-color: #F6F8FA;
  padding: 0;
}

.topic-headline {
  font-size: 20px;
  float: left;
  display: flex;
  line-height: 1;
  margin-bottom: 16px;
}
.topic-headline svg {
  margin: auto 8px auto 0;
  color: #57606a;
}
.topic-headline .breadcrumb {
  margin: 0;
}
.topic-headline .breadcrumb .breadcrumb-item:last-of-type {
  font-weight: 600;
}

.label-muted-outline {
  color: #57606a;
  border-color: #d0d7de;
  border: 1px solid;
  font-size: 12px;
  font-weight: 500;
  margin-left: 8px;
}

.topic-nav {
  font-size: 14px;
  min-height: 48px;
  display: flex;
  box-shadow: inset 0 -1px 0 #d8dee4;
}
.topic-nav ul {
  align-items: center;
  display: flex;
}
.topic-nav .nav-item {
  display: inline-flex;
}
.topic-nav .nav-link {
  padding: 0 8px;
  line-height: 30px;
  display: flex;
  align-items: center;
}
.topic-nav .nav-link svg {
  fill: currentcolor;
  margin-right: 8px;
}

.card {
  border-color: #d0d7de;
}

.card-topic-header {
  display: flex;
  width: 100%;
  align-items: center;
  position: relative;
}
.card-topic-header a {
  flex: auto;
  font-weight: 600;
}
.card-topic-header a:hover {
  text-decoration: none;
}

.card-topic-description {
  font-size: 12px;
  margin-top: 16px;
  margin-bottom: 8px;
  color: #57606a;
}

.topic-li {
  padding: 24px 0;
  border-bottom: 1px solid #d8dee4;
}
.topic-li .topic-title {
  display: inline-block;
  margin-bottom: 4px;
}
.topic-li .topic-title h3 .badge {
  margin-left: 4px;
  margin-right: 4px;
}
.topic-li .topic-title h3 a:hover {
  text-decoration: none;
}

.topic-description {
  display: inline-block;
  padding-right: 24px;
  margin-bottom: 8px;
  color: #57606a;
  font-size: 14px;
}

.searchbar .querybox {
  padding: 0;
}
.searchbar .querybox .input-group .input-group-text {
  background-color: #F6F8FA;
  border: 1px solid #d0d7de;
  color: #24292f;
}
.searchbar .querybox .input-group .btn-inputpart {
  background-color: #F6F8FA;
  border: 1px solid #d0d7de;
  color: #24292f;
}
.searchbar .querybox .input-group .btn-inputpart:hover {
  background-color: #F3F4F6;
}
.searchbar .search-nav {
  padding: 0;
  padding-left: 16px;
}
.searchbar .search-nav .btn-group .btn-outline-gh {
  color: #24292f;
  border: 1px solid #d0d7de;
  background-color: transparent;
}
.searchbar .search-nav .btn-group .btn-outline-gh:hover {
  background-color: #F6F8FA;
}
.searchbar .search-nav .btn-group .btn {
  font-weight: 500;
  text-decoration: none;
  line-height: 1;
  padding: 5px 16px;
}
.searchbar .search-nav .btn-group .btn svg {
  margin-right: 2px;
}
.searchbar .search-nav .btn-group .btn .badge {
  margin-left: 3px;
  color: #24292f;
  background-color: rgba(175, 184, 193, 0.2);
  font-weight: 500;
}
.searchbar #new-issue {
  margin-left: 14px;
  text-decoration: none;
  padding: 5px 16px;
  font-weight: 500;
  font-size: 14px;
}
.searchbar #new-issue svg {
  margin-right: 2px;
}

.issuelist-wrapper {
  margin: 0 -12px;
}
.issuelist-wrapper:last-child {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.issuelist-header {
  font-size: 14px !important;
  padding: 16px;
  background-color: #F6F8FA;
  border: 1px solid #d0d7de;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.issuelist-header .states .btn-link {
  text-decoration: none;
  color: #24292f;
}
.issuelist-header .states .btn-link svg {
  margin-right: 4px;
}
.issuelist-header .states .btn-link:not(:first-of-type) {
  margin-left: 10px;
}
.issuelist-header .states .btn-link.selected {
  font-weight: 600;
}
.issuelist-header .action-menu {
  color: #24292f;
}
.issuelist-header .action-menu .filterbar-item a {
  text-decoration: none;
}

.issuelist-item {
  border-left: 1px solid #d8dee4;
  border-right: 1px solid #d8dee4;
}
.issuelist-item:not(:first-child) {
  border-top: 1px solid #d8dee4;
}
.issuelist-item:last-child {
  border-bottom: 1px solid #d8dee4;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.issuelist-item .issuelist-content .issuelist-meta, .issuelist-item .issuelist-content .issuelist-meta a {
  color: #57606a;
}
.issuelist-item .issuelist-content .title-link {
  font-weight: 600;
  font-size: 16px;
  color: #24292f;
}
.issuelist-item .issuelist-content .title-link:hover {
  text-decoration: none;
  color: #0969da;
}
.issuelist-item .issuelist-content .issuelist-meta a:hover {
  color: #0a58ca;
  text-decoration: none;
}

/*# sourceMappingURL=main.css.map */
