.badge-open
    background-color: $gh-open
    color: white

.badge-closed
    background-color: $gh-closed
    color: white

.badge-notplanned
    background-color: $gh-notplanned
    color: white

.issue-header
    border-bottom: $gh-border
    padding-bottom: 8px
    margin-bottom: 32px

    .issue-title-edit
        display: none


.header-meta
    .label-badge
        font-size: 14px
        font-weight: 500
        line-height: 20px
        text-align: center
        padding: 5px 12px
        margin-bottom: 8px
        margin-right: 8px
    
    .info
        a
            color: black

            &:hover
                color: #0d6efd

.discussion-card
    border-color: $gh-accent-muted
    .card-header
        margin-left: 0 !important
        margin-right: 0 !important
        background-color: $gh-accent
        border-bottom-color: $gh-accent-muted
        div
            padding: 0

        span
            margin-left: 4px
    
    .card-body
        textarea
            min-height: 100px
        
        .buttons *
            font-size: 14px

        #close-dropdown
            transform: translate(-20px, 42px) !important
        
    .card-footer
        margin-top: 4px
        color: $gh-muted
        background: none
        border-color: $gh-accent-muted
        padding-top: 1rem
        padding-bottom: 1rem

        &:first-child
            border: none

        .commit-action-icon
            width: 32px
            height: 32px
            display: flex
            align-items: center
            border-radius: 50%
            justify-content: center
            margin-top: -4px
            margin-right: 8px

            &.closed
                background-color: $gh-closed
                color: white

            &.reopened
                background-color: $gh-open
                color: white

            &.notplanned
                background-color: $gh-notplanned
                color: white

.toggleCommentMenu
    cursor: pointer

.menu-popover 
    position: absolute
    z-index: 100
    right: -4px

    &.sidebarMenu-popover
        top: 30px
        margin: 4px 0 20px

    &.hideCommentMenu, &.hideSidebarMenu
        visibility: hidden
        

    .popover-message
        position: relative
        margin-right: auto
        margin-left: auto
        width: 185px
        background-color: white
        border: $gh-border
        border-radius: 6px

    .popover-message-bottom-left
        margin-left: 0

.commentDropdown
    padding: 4px 0 !important

    .menuItem
        color: black
        width: 100%
        padding: 4px 8px 4px 16px !important
    
        &:hover
            text-decoration: none
            cursor: pointer
            background-color: #0a58ca
            color: white

        &.menuItem-danger
            color: #dc3545

            &:hover
                background-color: #dc3545
                color: white

.path
    width: 2px
    height: 32px
    margin-left: 16px
    background-color: $gh-border-muted-color

    &:last-of-type
        height: 16px

.sidebar-item
    margin-top: 16px
    border-top: $gh-border-muted
    font-size: 12px
    padding-top: 16px

    .btn-link
        text-decoration: none
        color: $gh-subnav-color
        font-weight: 600

        &:hover
            color: #0a58ca

    .sidebar-heading:hover
        color: #0a58ca
        cursor: pointer

.gh-modal
    max-width: 450px
    
    .modal-header
        border-bottom: none
        padding: 0

        .btn-close
            padding: 16px

    svg
        width: 40px
        height: 40px

    h5
        font-size: 16px
        font-weight: 600

.editCommentForm
    display: none

// Sidebar
.menu-item
    margin-top: 8px
    padding: 8px

    &:hover
        background-color: #e9ecef
        cursor: pointer

    .form-check-input
        margin: 0
        margin-right: 8px

.menu-footer
    margin-top: 8px
    padding: 8px
    border-top: $gh-border-muted

.person-chip
    border: $gh-border-muted
    border-color: #C2E7FF
    border-radius: 6px
    padding: 6px
    margin-right: 12px
    color: #0969da

    &:hover
        background-color: rgba(#ddf4ff, 0.5)
        text-decoration: none
