.searchbar
    .querybox
        padding: 0

        .input-group
            .input-group-text
                background-color: $gh-subnav-bg
                border: $gh-border
                color: $gh-subnav-color


            .btn-inputpart
                background-color: $gh-subnav-bg
                border: $gh-border
                color: $gh-subnav-color

                &:hover
                    background-color: $gh-subnav-hover-bg
           
    .search-nav
        padding: 0
        padding-left: 16px

        .btn-group
            .btn-outline-gh
                color: $gh-subnav-color
                border: $gh-border
                background-color: transparent

                &:hover
                    background-color: $gh-subnav-bg

            .btn
                font-weight: 500
                text-decoration: none
                line-height: 1
                padding: 5px 16px

                svg
                    margin-right: 2px
                
                .badge
                    margin-left: 3px
                    color: $gh-subnav-color
                    background-color: $gh-neutral-muted
                    font-weight: 500
    
    #new-issue
        margin-left: 14px
        text-decoration: none
        padding: 5px 16px
        font-weight: 500
        font-size: 14px

        svg
            margin-right: 2px

.reset-searchquery a
    font-weight: 600
    color: #6e7781

    &:hover
        color: #0969da
        text-decoration: none

        #resetQueryIcon
            background-color: #0969da

    #resetQueryIcon
        padding: 1px
        margin-right: 4px
        color: white
        background-color: #6e7781
        text-align: center
        border-radius: 6px


.issuelist-wrapper
    margin: 0 -12px

    &:last-child
        border-bottom-left-radius: 6px
        border-bottom-right-radius: 6px

.issuelist-header
    font-size: 14px !important
    padding: 16px
    background-color: $gh-subnav-bg
    border: $gh-border
    border-top-left-radius: 6px
    border-top-right-radius: 6px

    .states
        .btn-link
            text-decoration: none
            color: $gh-subnav-color

            svg
                margin-right: 4px

            &:not(:first-of-type)
                margin-left: 10px
            
            &.selected
                font-weight: 600

    .action-menu
        color: $gh-subnav-color
        
        .filterbar-item a
            text-decoration: none

.issuelist-item
    border-left: $gh-border-muted
    border-right: $gh-border-muted

    &:not(:first-child)
        border-top: $gh-border-muted
    
    &:last-child
        border-bottom: $gh-border-muted
        border-bottom-left-radius: 6px
        border-bottom-right-radius: 6px
    
    .issuelist-content
        .issuelist-meta, .issuelist-meta a
            color: $gh-muted

        .title-link
            font-weight: 600
            font-size: 16px
            color: $gh-subnav-color

            &:hover
                text-decoration: none
                color: #0969da
        
        .issuelist-meta a:hover
            color: #0a58ca
            text-decoration: none

#issuelist-noresults
    margin-right: auto
    margin-left: auto
    border-left: $gh-border-muted
    border-right: $gh-border-muted
    border-bottom: $gh-border-muted
    border-bottom-left-radius: 6px
    border-bottom-right-radius: 6px

    #noresult-message
        padding: 80px 40px
        text-align: center

        svg
            color: $gh-muted
            margin: 0 4px 8px 4px
        
        h3
            margin: 16px 0
            font-size: 24px