body
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    
$gh-background: #F6F8FA
$gh-muted: #57606a
$gh-border-color: #d0d7de
$gh-border-muted-color: hsla(210, 18%, 87%,1)
$gh-neutral-muted: rgba(175,184,193,0.2)

$gh-subnav-bg: #F6F8FA
$gh-subnav-hover-bg: #F3F4F6
$gh-border: 1px solid #d0d7de
$gh-border-muted: 1px solid hsla(210, 18%, 87%,1)
$gh-subnav-color: #24292f

$gh-open: #1a7f37
$gh-closed: #8250df
$gh-notplanned: #6e7781
$gh-accent: #ddf4ff
$gh-accent-muted: rgba(84,174,255, 0.4)

.border-bottom-muted
    border-bottom: $gh-border-muted

.text-small
    font-size: 12px

.wght-light
    font-weight: 300

.text-open
    color: $gh-open

.text-closed
    color: $gh-closed

.text-notplanned
    color: $gh-notplanned

.link-muted
    color: $gh-muted

    &:hover
        color: #0a58ca

h3
    font-weight: 600
    font-size: 20px

.text-muted
    color: $gh-muted !important

a
    text-decoration: none

    &:hover
        text-decoration: underline

svg
    fill: currentcolor

.btn:hover
    text-decoration: none


// Topic Header on Detail-Pages

.topic-header
    background-color: $gh-background
    padding: 0

.topic-headline
    font-size: 20px
    float: left
    display: flex
    line-height: 1
    margin-bottom: 16px

    svg
        margin: auto 8px auto 0
        color: $gh-muted

    .breadcrumb
        margin: 0

        .breadcrumb-item:last-of-type
            font-weight: 600

.label-muted-outline
    color: $gh-muted
    border: $gh-border
    font-size: 12px
    font-weight: 500
    margin-left: 8px

.topic-nav
    font-size: 14px
    min-height: 48px
    display: flex
    box-shadow: inset 0 -1px 0 $gh-border-muted-color

    ul
        align-items: center
        display: flex

    .nav-item
        display: inline-flex

    .nav-link
        padding: 0 8px
        line-height: 30px
        display: flex
        align-items: center
        &:hover
            text-decoration: none

        svg
            fill: currentcolor
            margin-right: 8px

@import topics
@import issuelist
@import labels
@import detailpage

.btn-gh
    color: $gh-subnav-color
    background-color: $gh-subnav-bg
    border: $gh-border

    &:hover
        background-color: $gh-subnav-hover-bg
        border: $gh-border

    &:active, &:focus
        background-color: hsla(220, 14%, 93%, 1)
        border-color: rgba(27, 31, 36, 0.15)

    
